<!-- Describe task in general -->

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}work-schedule.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    Тобі надається послідовність працівників з їх робочими уподобаннями та навичками. Також у тебе є бізнес-потреби: необхідний робочий час та завдання. Твоя функція повинна повернути графік, як задовольнити потреби бізнесу доступними працівниками (якщо це можливо). Тепер давай зануримось у деталі.
</p>
<p style="text-align: justify;">
    <b>staff</b> це словник, в якому ключі, це імена працівників і значення це теж словники. Кожне значення-словник включає три пари ключ-значення:
    <ul>
        <li>
            <b>"pref_shifts"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: зміни, в які працівник хоче працювати (можуть бути <b>"first"</b>, <b>"second"</b> або обидві у такому порядку);
        </li>
        <li>
            <b>"days_off"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: дні, коли працівник хоче бути вільним (повні назви днів тижня);
        </li>
        <li>
            <b>"skills"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: навички, якими володіє працівник.
        </li>
    </ul>
</p>
<p style="text-align: justify;">
    <b>business_needs</b> це {% if is_js %}масив{% else %}список{% endif %} з трьох значень: день тижня, для якого робимо графік - рядок; кількість змін, які мають бути відпрацьовані у цей день - ціле число; завдання, які мають бути виконані у цей день - {% if is_js %}масив{% else %}список{% endif %} рядків.
</p>
<p style="text-align: justify;">
    Зверніть увагу на зміни. Кожен працівник може працювати у першу зміну, другу або обидві (цілий день), виключаючи вільні дні. Кількість змін, як потреба бізнесу, означає кількість різних змін, які мають бути відпрацьовані в цей день. Наприклад, якщо кількість змін <b>3</b>, то вона може бути виконана працівником, який працює цілий день (перша та друга його зміни, загалом - 2), і будь-яким іншим працівником ще (тому що кожен працівник має хоча б одну зміну) або трьома змінами від різних працівників. Кількість змін повинна бути розділена порівну між <b>"first"</b> і <b>"second"</b> денними змінами. Якщо кількість змін непарна, <b>"first"</b> денна зміна повинна включати на одну зміну більше, ніж <b>"second"</b> денна зміна.
</p>
<p style="text-align: justify;">
    Навички можуть бути частково/абсолютно однаковими для різних працівників. Отже, коли ти наповнюєш денні зміни, обирай працівників з меншою кількістю навичок - вони зазвичай менш оплачувані. Якщо число навичок те саме - вибирай за іменем в алфавітному порядку. З точки зору залучення працівників, перша зміна дня має пріоритет: важливіше мати саме там працівників з меншою кількістю навичок. Завдання - це мінімальний перелік, який потрібно виконати - агрегований перелік навичок для цього дня може бути більший.
</p>
<p style="text-align: justify;">
    Твоя функція повинна повертати {% if is_js %}масив із двох масивів{% else %}список із двох списків{% endif %} (денні зміни) з відсортованими в алфавітному порядку іменами працівників, які мають виходити на роботу в цю зміну. Якщо кількість потрібних змін <b>1</b> - тоді один із внутрішніх {% if is_js %}масивів{% else %}списків{% endif %} буде порожній. Якщо неможливо скласти графік - обидва внутрішні {% if is_js %}масиви{% else %}списки{% endif %} мають бути порожніми.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Два аргументи: {% if is_js %}Об'єкт{% else %}словник{% endif %} з даними працівників, {% if is_js %}масив{% else %}список{% endif %} з описом потреб бізнесу.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив із двох масивів{% else %}Список із двох списків{% endif %} з іменами (рядки). 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Сфера застосування:</strong>
    <i>оптимізації розкладу - це звична річ.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
