<!-- Describe task in general -->

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}work-schedule.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    Ви отримуєте послідовність працівників з їхніми робочими вподобаннями та навичками. Також у вас є бізнес-потреби у вигляді необхідного робочого часу та завдань. Ваша функція повинна повернути розклад, який задовольняє бізнес-потреби при наявних працівниках (якщо це можливо). Тепер давайте зануримося в деталі.
</p>
<p style="text-align: justify;">
    <b>staff</b> це{% if is_js %}n Об'єкт{% else %} словник{% endif %}, де ключами є імена працівників, а значеннями - {% if is_js %}Об'єкти{% else %} словники{% endif %}. Кожне значення {% if is_js %}Об'єкт{% else %}словника{% endif %} включає три пари ключ-значення:
    <ul>
        <li>
            <b>"pref_shifts"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: зміни, працівник хоче працювати (може бути <b>"first"</b>, <b>"second"</b> або обидва в такому порядку);
        </li>
        <li>
            <b>"days_off"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: дні, у які працівник хоче бути вільним (повні назви днів тижня);
        </li>
        <li>
            <b>"skills"</b> - {% if is_js %}масив{% else %}список{% endif %} рядків: роботи, які працівник може виконувати.
        </li>
    </ul>
</p>
<p style="text-align: justify;">
    <b>business_needs</b> це{% if is_js %}n масив{% else %} список{% endif %} з трьох значень: день тижня, для якого потрібно скласти розклад - рядок; кількість змін у цей день - ціле число; завдання, які потрібно виконати у цей день - {% if is_js %}масив{% else %}список{% endif %} з рядків.
</p>
<p style="text-align: justify;">
    Зауваження про зміни. Кожен працівник може працювати у першу зміну, другу або обидві (цілий день), за винятком своїх вихідних. Кількість змін для бізнесу означає кількість різних змін, які можуть бути присутніми в цей день. Наприклад, якщо кількість змін <b>3</b>, то під неї може підпадати працівник, який працює повний день (обидві його зміни, "перша" і "друга", разом - 2), і ще один працівник (оскільки кожен працівник має принаймні одну зміну), або три зміни від різних працівників. Кількість змін має бути поділена порівну між <b>"first"</b> та <b>"second"</b> денними змінами. Якщо кількість змін непарна (і не дорівнює 1), то <b>"first"</b> денна зміна повинна включати на одну зміну більше, ніж <b>"second"</b> денна зміна.    
</p>
<p style="text-align: justify;">
    Навички можуть бути частково/повністю однаковими для різних працівників. Тому, коли ви заповнюєте денні зміни, вибирайте працівників з меншою кількістю навичок - вони, як правило, менше оплачуються. Якщо кількість однакова - обирайте за іменами в алфавітному порядку. З точки зору залученості працівників, перша денна зміна має пріоритет: там важливіше мати працівників з меншою кількістю навичок. Завдання - це мінімальна послідовність, яку потрібно виконати - послідовність агрегованих навичок на цей день може бути ширшою. Кожне завдання має бути виконане (покрите відповідною навичкою) кимось із працівників <b>"first"</b> або <b>"second"</b> денної зміни.
</p>
<p style="text-align: justify;">
    Ваша функція повинна повернути масив{% if is_js %}n з двох масивів{% else %} список з двох списків{% endif %} (денних змін) з відсортованими за алфавітом іменами працівників, які будуть працювати у відповідну денну зміну. Якщо кількість змін дорівнює <b>1</b> - один з внутрішніх масивів {% if is_js %}{% else %} списків{% endif %} буде пустим. Якщо неможливо скласти розклад - обидва внутрішні масиви {% if is_js %}{% else %} списків{% endif %} повинні бути порожніми.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два аргументи: {% if is_js %}об'єкт{% else %}словник{% endif %} з даними про співробітників, масив{% if is_js %}n масив{% else %} список{% endif %} з описом бізнес-потреби.
</p>

<p>
   <strong>Вихідні дані:</strong> Масив{% if is_js %}n з двох масивів{% else %}, список з двох списків{% endif %} з іменами у вигляді рядків. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">
    <strong>How it’s used:</strong>
    <i>Schedule optimizing is a usual thing.</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
