<!-- Describe task in general -->

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}work-schedule.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    You are given a sequence of employees with their work preferences and skills. Also you have business needs as required working time and tasks. Your function should return a schedule, that satisfies business needs with available employees (if it's possible). Now, let's dive into the details.
</p>
<p style="text-align: justify;">
    <b>staff</b> is a{% if is_js %}n Object{% else %} dictionary{% endif %}, where keys are names of employees and values are {% if is_js %}Objects{% else %} dictionaries{% endif %} as well. Every values {% if is_js %}Object{% else %}dictionary{% endif %} includes three key-value pairs:
    <ul>
        <li>
            <b>"pref_shifts"</b> - {% if is_js %}array{% else %}list{% endif %} of strings: shifts, employee wants to work at (may be <b>"first"</b>, <b>"second"</b> or both in this order);
        </li>
        <li>
            <b>"days_off"</b> - {% if is_js %}array{% else %}list{% endif %} of strings: days, employee wants to be off (full names of weekdays);
        </li>
        <li>
            <b>"skills"</b> - {% if is_js %}array{% else %}list{% endif %} of strings: jobs, employee may do.
        </li>
    </ul>
</p>
<p style="text-align: justify;">
    <b>business_needs</b> is a{% if is_js %}n array{% else %} list{% endif %} of three values: a weekday, for which to make schedule - string; number of shifts to be on this day - integer; tasks, which should be done on this day - {% if is_js %}array{% else %}list{% endif %} of strings.
</p>
<p style="text-align: justify;">
    Notice about shifts. Each employee may work at first shift, second or both (all day), excluding his/her days off. Number of shifts for business means number of different shifts to be present at this day. For example, if number of shifts <b>3</b>, in may be covered by an employee, who works full day (both his shifts, "first" and "second", total - 2) and any employee more (because every employee has at least one shift), or by three shifts from different employee. Number of shifts should be divided equally between <b>"first"</b> and <b>"second"</b> day shifts. If number of shifts is odd, <b>"first"</b> day shift must include one shift more, than <b>"second"</b> day shift.    
</p>
<p style="text-align: justify;">
    Skills may be partly/totally the same for different employees. So, when you fill the day shifts, chose employees with less number of skills - they are usually less paid. If the number is the same - chose by name alphabetically. From the point of employees engagement, first day shift has priority: it's more important to have employees with less number of skills there. Tasks is a minimum sequence to be done - the sequence of aggregated skills for this day may be wider.
</p>
<p style="text-align: justify;">
    Your function should return a{% if is_js %}n array of two arrays{% else %} list of two lists{% endif %} (day shifts) with alphabetically sorted names of employees, which are going to work at respective day shift. If the number of shifts is <b>1</b> - one of inner {% if is_js %}arrays{% else %}lists{% endif %} will be empty. If it's not possible to make schedule - both inner {% if is_js %}arrays{% else %}lists{% endif %} should be empty.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two arguments: {% if is_js %}an Object{% else %}a dictionary{% endif %} with employees data, a{% if is_js %}n array{% else %} list{% endif %} with business need description.
</p>

<p>
    <strong>Output:</strong> A{% if is_js %}n array of two arrays{% else %} list of two lists{% endif %} with names as strings. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">
    <strong>How it’s used:</strong>
    <i>Schedule optimizing is a usual thing.</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
